.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.top-header {
  background-color: #6CE3DE;
  padding: 5px;
  text-align: right;
}

.App-header {
  background-color: #D9A357;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.quote {
  background-size: cover; 
  font-family: 'Inconsolata', monospace; 
  text-align: center; 

  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;

}

.inspiration-quote {    
  background-color: rgba(255,255,255, 0.5);
  width: 50%;
  margin: 0 auto;
  padding: 50px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
